@import "tailwindcss";
@import "@fontsource-variable/red-hat-display";

:root {
  font-family: 'Red Hat Display Variable', -apple-system, sans-serif;

  --white-back: #ececec;
  --primary: #EC016D;
  --secondary: #FFEB54;
  --green: #00AB52;
}

  *::selection {
    background-color: var(--primary);
    color: white;
  }

strong {
  color: var(--green);
  font-weight: 800;
}
