---
import Layout from '@layouts/layout.astro';
import Nav from '@components/nav.astro';
import Gallery from '@components/gallery.astro';
---

<Layout title='¡Lista de ganadores!'>
  <Nav/>
  <div class="pt-36 space-y-6">
    <Gallery/>
  </div>
</Layout>

