---
import Layout from "@layouts/layout.astro";
import Nav from "@components/nav.astro";
import Gallery from "@components/gallery.astro";
---

<Layout
  title="Ganadores - Velez la Tradicional"
  description="Conoce a nuestros ganadores felices. Miles de personas han realizado sus sueños participando en los sorteos de Velez."
  canonicalUrl="https://rifasvelez.com/ganadores"
>
  <Nav />
  <div class="pt-36 space-y-6">
    <Gallery />
  </div>
</Layout>
