---
import Layout from "@/layouts/layout.astro";
import Nav from "@/components/nav.astro";
import SorteoCard from "@components/sorteoCard.astro";

export interface Sorteo {
  img: string;
  alt: string;
  titulo: string;
  descripcion: string[];
  fecha: string;
  mensajeWhatsapp: string;
}

export const sorteos: Sorteo[] = [
  {
    img: "/assets/premio-mayor.webp",
    alt: "Sorteo Diciembre 2025",
    titulo: "Sorteo de Fin de Año 2025",
    descripcion: [
      "Premio mayor: una casa a tu gusto (urbana o campestre) valorada en $450 millones.",
      "También puedes elegir entre una Ford Ranger XL, Mazda CX-30 o una BMW G310 GS.",
      "El sorteo se juega el 20 de diciembre con la Lotería de Boyacá (sin serie).",
      "Valor del bono: $250.000.",
      "Además, participa en sorteos anticipados y gana bonos en efectivo por tus abonos."
    ],
    fecha: "2025-12-20T19:00:00",
    mensajeWhatsapp: "Hola, estoy interesado en el sorteo de fin de año",
  },
  {
    img: "/assets/gran-sorteo-2026.webp",
    alt: "Sorteo de casa evaluada en 400 millones y otros premios adicionales",
    titulo: "Gran sorteo de inicio de año 2026",
    descripcion: [
      "GRAN SORTEO 2026",
      "Valor del Bono: $280.000",
      "PREMIO MAYOR",
      "Casa de $400 millones (libre de impuestos).",
      "Juega: 20 de junio con Lotería de Boyacá (sin serie).",
      "PREMIO FIDELIDAD",
      "Viaje a San Andrés para dos personas (al cancelar el total).",
      "Juega: 22 de junio de 2026.",
      "INCENTIVOS POR PAGO",
      "Cuota inicial $50.000: Participa por $20 millones.",
      "Abonos de $30.000: Participa por $5 millones (mismo día del abono).",
      "PREMIOS ANTICIPADOS (Requisito de saldo abonado)",
      "Todos juegan sin serie.",
      "- 17 Dic ($80.000 abonados): $10 millones (Lot. Valle).",
      "- 21 Ene 2026 ($110.000 abonados): Crypton 2026 (Lot. Valle).",
      "- 21 Feb 2026 ($140.000 abonados): XTZ150 2026 (Lot. Boyacá).",
      "- 21 Mar 2026 ($170.000 abonados): Aerox 2026 (Lot. Boyacá).",
      "- 18 Abr 2026 ($200.000 abonados): V-strom 160 2026 (Lot. Boyacá).",
      "- 16 May 2026 ($230.000 abonados): Nmax 2026 (Lot. Boyacá).",    
    ],
    fecha: "2026-06-20",
    mensajeWhatsapp: "Hola, estoy interesado en el sorteo de inicio de año",
  },
];
---

<Layout title="Sorteos">
  <Nav />
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 px-4 md:px-0 mb-10 pt-30">
        {sorteos.map((sorteo: Sorteo) => (
          <SorteoCard sorteo={sorteo}/>
        ))}
      </div>
</Layout>
