<div class="py-6 px-8 lg:py-14 lg:px-20">
  <h2 class="text-3xl lg:text-4xl text-[var(--primary)] font-extrabold mb-4">Sobre nosotros</h2>
  <p class="text-base lg:text-lg mb-4 text-zinc-800 font-medium">
    Somos una empresa de sorteos con más de <strong>20 años de trayectoria en Guadalajara de Buga</strong>, dedicada a transformar la vida de nuestros participantes a través de grandes premios, experiencias inolvidables y absoluta transparencia.
  </p>
  <p class="text-base lg:text-lg text-zinc-800 font-medium">
    Nuestro compromiso es seguir construyendo confianza, alegría y oportunidades para todos. Gracias a nuestros clientes, hoy contamos con <strong>miles de felices ganadores</strong> que son la mejor prueba de que <strong>¡los sueños sí se cumplen!</strong>
  </p>
</div>

<style>
  h2 {
    color: var(--primary);
  }
</style>
