<div class="bg-[var(--primary)] py-14 px-20 rounded-2xl">
  <h2 class="text-5xl text-white font-black mb-6">Sobre nosotros</h2>
  <p class="mb-6">Somos una empresa de sorteos con más de <strong>20 años</strong> de trayectoria en Guadalajara de Buga, dedicada a <strong>transformar la vida</strong> de nuestros participantes a través de grandes premios, experiencias inolvidables y absoluta transparencia.</p>
  <p>Nuestro compromiso es seguir construyendo confianza, alegría y oportunidades para todos. Gracias a nuestros clientes, hoy contamos con <strong>miles de felices ganadores</strong> que son la mejor prueba de que <strong>los sueños sí se cumplen!</strong></p>
</div>

<style>
  strong {
    color: var(--secondary);
    font-weight: 800;
  }

  p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
  }
</style>
