--- 
import logo from "../../public/assets/velez.png";
---

<footer class="bg-white rounded-3xl">
  <div class="flex flex-col items-start justify-center p-6">
    <img src={logo.src} alt="Velez Logo" class="self-start h-20" />
    <p class="text-[var(--primary)] text-sm ml-6 italic">NIT: 1115081973-6</p>
  </div>
</footer>