---
import Slider from '@components/react/slider.tsx';
---

<header class="py-6">
  <div class="grid grid-rows-2 gap-5 lg:grid-cols-[3fr_1fr]">
    <div class="rounded-lg">
      <Slider client:load/>
    </div>
    <div class="bg-blue-500">
      <!-- video -->
    </div>
  </div>
</header>

