---
import Slider from "@components/react/slider.tsx";
---

<header class="py-6">
  <div class="grid grid-rows-2 gap-5 lg:grid-cols-[3fr_1fr]">
    <div class="rounded-lg overflow-hidden">
      <Slider client:only="react" />
    </div>
    <iframe
      src="https://www.instagram.com/reel/DLTQPNIySIE/embed"
      width="360"
      height="660"
      frameborder="0"
      allowfullscreen
      scrolling="no"
      style="border-radius: 12px; border: none; overflow: hidden;"
    >
    </iframe>
  </div>
</header>
