---
import Slider from "@components/react/slider.tsx";
---

<header>
  <div class="py-52 space-y-5 flex flex-col items-center">
    <h1 class="text-balance text-5xl font-black text-[var(--primary)]">¡20 Años Cumpliendo Sueños en Vélez!</h1>
    <p class="text-pretty text-2xl font-medium">Participa en la rifa semestral más grande de la ciudad.<br/>¡Gana una casa, carros y motos con Rifas Vélez!</p>
    <a class="text-xl bg-[var(--primary)] text-white py-3 px-6 rounded-md font-bold inline-block" href="#next">¡Participa ahora!</a>
  </div>
  <div id="next" class="grid gap-5 grid-rows-[auto_auto] md:grid-rows-none md:grid-cols-[3fr_1fr] h-full items-stretch">
    <div class="bg-zinc-300 w-full order-2 md:order-1 rounded-md overflow-hidden h-auto lg:h-full">
      <Slider client:only="react" />
    </div>
    <div class="order-1 md:order-2 rounded-md overflow-hidden h-auto lg:h-full">
      <video
        autoplay
        loop
        playsinline
        controls
        muted
        preload="auto"
        aria-hidden="true"
        class="w-full h-full object-cover"
      >
        <source src="/assets/Velez.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</header>
