---
import Slider from "@components/react/slider.tsx";
---

<header>
  <div class="grid gap-5 grid-rows-[auto_auto] md:grid-rows-none md:grid-cols-[3fr_1fr] h-full items-stretch">
    <div class="bg-zinc-300 w-full order-2 md:order-1 rounded-2xl overflow-hidden h-auto lg:h-full">
      <Slider client:only="react" />
    </div>
    <div class="order-1 md:order-2 rounded-2xl overflow-hidden h-auto lg:h-full">
      <video
        autoplay
        loop
        playsinline
        controls
        muted
        preload="auto"
        class="w-full h-full object-cover"
      >
        <source src="/assets/Velez.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</header>
