<div class="flex items-center justify-between rounded-2xl px-20 py-12 bg-[var(--primary)]">
  <div>
    <h2 class="text-5xl font-black mb-6 text-white">¡Conoce a nuestro último ganador!</h2>
    <p class="mb-3">¡Tú también puedes ser parte de ellos!</p>
    <p class="mb-6">Contáctanos y no pierdas la <strong>oportunidad de participar</strong></p>
    <div class="space-x-8">
      <a class="font-bold px-6 py-3 rounded-4xl bg-white text-[var(--primary)]" href="#">¡Participa ahora!</a>
      <a class="font-bold text-white px-6 py-3 rounded-4xl border border-white" href="#">Ver más ganadores</a>
    </div>
  </div>
  <div class="bg-zinc-100 rounded-xl size-64"></div>
</div>

<style>
  strong {
    color: var(--secondary);
    font-weight: 800;
  }

  a, p {
    font-size: 24px;
  }

  p {
    color: #fff;
    font-weight: 600;
  }

  a {
    display: inline-block;
  }
</style>
