---
import WhatsappIcon from "./icons/WhatsappIcon.astro";

const layers = [
  { blur: "1px", mask: "linear-gradient(0deg, transparent, #000 8%)" },
  { blur: "4px", mask: "linear-gradient(0deg, transparent 8%, #000 16%)" },
  { blur: "8px", mask: "linear-gradient(0deg, transparent 16%, #000 24%)" },
  { blur: "16px", mask: "linear-gradient(0deg, transparent 24%, #000 36%)" },
  { blur: "24px", mask: "linear-gradient(0deg, transparent 36%, #000 48%)" },
  { blur: "32px", mask: "linear-gradient(0deg, transparent 48%, #000 60%)" },
];
---

<header
  class="fixed top-0 left-0 right-0 z-1000 h-24 flex items-center justify-between lg:px-32 px-6 text-white"
>
  <div
    class="absolute inset-0 pointer-events-none grid h-28 top-0 overflow-hidden"
  >
    {
      layers.map(({ blur, mask }) => (
        <div
          class="col-start-1 row-start-1 transition-opacity duration-200"
          style={{
            backdropFilter: `blur(${blur})`,
            WebkitBackdropFilter: `blur(${blur})`,
            maskImage: mask,
            WebkitMaskImage: mask,
          }}
        />
      ))
    }

    <div
      class="col-start-1 row-start-1 bg-linear-to-b from-black/20 via-black/20 to-transparent"
    >
    </div>
  </div>

  <div class="relative shrink-0">
    <a href="/" class="flex items-center select-none">
      <img src="/assets/velez.png" alt="Vélez" class="h-14 w-auto" />
    </a>
  </div>

  <ul class="relative hidden md:flex items-center gap-14 mb-3">
    <li>
      <a href="/" class="hover:opacity-70 transition-opacity">Inicio</a>
    </li>
    <li>
      <a href="/sorteos" class="hover:opacity-70 transition-opacity">Sorteos</a>
    </li>
    <li>
      <a href="/ganadores" class="hover:opacity-70 transition-opacity"
        >Ganadores</a
      >
    </li>
  </ul>

  <div class="relative flex items-center">
    <a
      href="https://wa.me/573169419113"
      class="inline-flex items-center justify-center rounded-full bg-[#10bf50] px-6 py-2.5 text-white active:scale-[0.98] transition-all duration-300 shadow-xl"
    >
      <WhatsappIcon class="size-6 mr-2" fill="#fff" />
      Ir a WhatsApp
    </a>
  </div>
</header>
